* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      height: 100vh;
      background: url(./img/White\ and\ Black\ Photographic\ Food\ &\ Restaurant\ Service\ Website.png) no-repeat center center fixed;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-container {
      background: rgba(255, 255, 255, 0.2); /* semi-transparent */
      backdrop-filter: blur(10px); /* frosted glass effect */
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 0 30px rgba(0,0,0,0.3);
      width: 100%;
      max-width: 400px;
      color: white;
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: px;
      color: white;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.3);
      color: white;
      font-size: 16px;
    }

    input::placeholder {
      color: #ffffff;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    .register-link {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }

    .register-link a {
      color: #fff;
      text-decoration: underline;
    }
   .social-links {
      text-align: center;
      margin-top: 20px;
    }

    .social-links ul {
      list-style: none;
      padding: 0;
    }

    .social-links li {
      display: inline;
      margin: 0 10px;
    }

    .social-links a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
    }

    .social-links a:hover {
      text-decoration: underline;
    }
    option {
      color: black;
      background: rgba(255, 255, 255, 0.2); /* semi-transparent */
      backdrop-filter: blur(10px); /* frosted glass effect */
      animation: alternate 2s infinite linear   /* Animation to alternate background color */;
    }
    .form-group select {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.2);
      color: white;
      font-size: 16px;
      margin-bottom: 20px;
    }